extends layout

block content
  form#upload-form(action='/convertir', method='POST', enctype='multipart/form-data')
    .container-general
      h1 #{title}
      .form-group
        label.form-label(for='seleccionarImg' class='form-label') Seleccionar imagen:
        input.form-input(type='file', name='seleccionarImg' class='form-input')
        label.form-label(for='opciones' class='form-label') Seleccionar formato:
        select(name='opciones', id='opciones' class='form-select')
          option(value="seleccionar" selected) seleccionar formato 
          option(value='PNG') PNG
          option(value='JPG') JPG
          option(value='JPEG') JPEG
          option(value='SVG') SVG
          option(value='WEBP') WEBP
        button(type='submit' class='form-button') Convertir imagen

